@import '../../scss/base/media_breakpoints';
@import '../../scss/base/vars';

@include desktop() {
  .Screen_I {
    position: relative;
    margin: 0px 0;

    header {
      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 70px 0 70px;
        height: 44px;

        .burger {
          display: none;
        }
        .exit {
          display: none;
        }
        .ul_nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: opacity 0.2s ease-in;
          opacity: 60%;

          &:hover {
            opacity: 1;
          }

          > li {
            margin-right: 2rem;
          }
        }
        .contacts {
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: opacity 0.2s ease-in;
          opacity: 60%;

          &:hover {
            opacity: 1;
          }

          li {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0 0.6rem;
            border: 1px solid $main-color;
            border-radius: 50%;
            padding: 6px;

            $sizeIcon: 38;
            $sizeHover: 4;
            width: #{$sizeIcon}px;
            height: #{$sizeIcon}px;

            transition: 0.2s ease-in;

            &:hover {
              width: #{$sizeIcon + $sizeHover}px;
              height: #{$sizeIcon + $sizeHover}px;
            }
          }
          > img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            object-position: top;
          }
        }
        .telegramIcon {
          position: relative;
          > a {
            > img {
              position: absolute;
              top: 6px;
              left: 4px;
            }
          }
          &:hover {
            > a {
              > img {
                top: 7px;
                left: 6px;
              }
            }
          }
        }
        .gitIcon {
          position: relative;
          > a {
            > img {
              position: absolute;
              top: 6px;
              left: 6px;
            }
          }
          &:hover {
            > a {
              > img {
                top: 7px;
                left: 8px;
              }
            }
          }
        }
      }
    }
    .photo_box {
      position: relative;
      height: 677px;
      overflow: hidden;

      > img {
        position: absolute;
        top: -55px;

        max-width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .title_block {
      position: absolute;
      top: 80px;
      left: 70px;
      display: flex;
      flex-direction: column;

      z-index: 1;

      .title_one {
        font-size: 5.5rem;
        margin-bottom: 1rem;
        letter-spacing: 0.4em;
      }
      .title_two {
        font-size: 5.8rem;
      }
      .subtitle {
        font-size: 2.5rem;
        margin: 2rem 0;
      }
      .button {
        > a {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 300px;
          margin-top: 3rem;
          border-radius: 12px;
          padding: 20px 30px;
          font-size: 1.5rem;
          background-color: #21a366;
          color: $background;

          > img {
            $size: 24;
            width: #{$size}px;
            height: #{$size}px;
            margin-right: 1rem;
          }
          &:hover {
            background-color: #44df97;
            cursor: pointer;
          }
        }
      }
    }
    &::after {
      content: '';
      display: block;
      opacity: 20%;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);

      width: 96%;
      height: 1px;
      background-color: $main-color;
    }
  }
}
@include laptop() {
  .Screen_I {
    margin: 20px 0 20px 20px;

    > .photo_box {
      height: 650px;
    }
    .title_block {
      top: 80px;
      margin-top: 2rem;

      .title_one {
        font-size: 3.3rem;
        margin-bottom: 0.5rem;
      }
      .title_two {
        font-size: 3.5rem;
      }
      .subtitle {
        font-size: 1.5rem;
        margin-bottom: 3.3rem;
      }
      .button {
        > a {
          margin-top: 70px;
        }
      }
    }
    .nav_active {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;

      width: 100vw;
      height: 100vh;
      padding: 0 6rem;
      background-color: $background;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .burger {
        display: none;
      }
      .exit {
        position: absolute;
        top: 1.4rem;
        right: 1.4rem;

        display: flex;
        justify-content: flex-end;
        margin: 25px;

        > img {
          width: 70px;
          height: 70px;
          padding: 10px;
        }
      }
      .ul_nav {
        margin-top: 60px;
        font-size: 2rem;

        display: flex;
        flex-direction: column;

        > li {
          margin: 30px;
        }
      }
      .contacts {
        margin-top: 100px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
          display: flex;
          justify-content: center;
          align-items: center;

          margin: 1rem 2rem;
          border: 1px solid $main-color;
          border-radius: 50%;
          padding: 4px;

          $sizeIcon: 70;
          $sizeHover: 4;
          width: #{$sizeIcon}px;
          height: #{$sizeIcon}px;

          > img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }
  }
}
@include tablet() {
  .Screen_I {
    margin: 0;
    header {
      position: relative;
      .nav {
        position: absolute;
        top: 0;
        left: -25px;
        padding: 2.4rem 2.4rem 2.4rem 1rem;
        z-index: 2;
        opacity: 1;

        .exit {
          display: none;
        }
        .burger {
          display: block;
        }
        .ul_nav {
          display: none;
        }
        .contacts {
          display: none;
        }
      }
      .nav_active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        width: 100vw;
        height: 100vh;
        padding: 0 6rem;
        background-color: $background;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .burger {
          display: none;
        }
        .exit {
          position: absolute;
          top: 1.4rem;
          right: 1.4rem;

          display: flex;
          justify-content: flex-end;
          margin: 25px;

          > img {
            width: 70px;
            height: 70px;
            padding: 10px;
          }
        }
        .ul_nav {
          margin-top: 10rem;

          display: flex;
          flex-direction: column;

          > li {
            margin: 2.6rem;
          }
        }
        .contacts {
          margin-top: 15rem;
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          li {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 1rem 2rem;
            border: 1px solid $main-color;
            border-radius: 50%;
            padding: 4px;

            $sizeIcon: 70;
            $sizeHover: 4;
            width: #{$sizeIcon}px;
            height: #{$sizeIcon}px;

            > img {
              width: 80%;
              height: 80%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
      }
    }
    .photo_box {
      > img {
        top: 45px;
      }
    }
    .title_block {
      top: 125px;
      left: 67px;

      .title_one {
        font-size: 3rem;
        margin-bottom: 0.6rem;
      }
      .title_two {
        font-size: 3.1rem;
      }
      .subtitle {
        font-size: 1.5rem;
      }
      .button {
        > a {
          margin-top: 15px;
          border-radius: 24px;
          width: 222px;
          padding: 10px 20px;
        }
      }
    }
  }
}
@include mobile() {
  .Screen_I {
    header {
      .nav {
        padding: 10px 20px 20px 20px;
        left: -75px;
      }
      .nav_active {
        padding: 0 2rem;

        .exit {
          top: 1rem;
          right: 1rem;

          margin: 10px;

          > img {
            width: 50px;
            height: 50px;
            padding: 10px;
          }
        }
        .ul_nav {
          margin-top: 100px;
          font-size: 1rem;

          > li {
            margin: 20px;
          }
        }
        .contacts {
          margin-top: 6rem;

          li {
            margin: 1rem 1rem;
            border: 1px solid $main-color;
            border-radius: 50%;
            padding: 4px;

            $sizeIcon: 30;
            $sizeHover: 4;
            width: #{$sizeIcon}px;
            height: #{$sizeIcon}px;

            > img {
              width: 80%;
              height: 80%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
      }
    }
    .photo_box {
      width: 100%;
      overflow: hidden;
      height: 483px;

      > img {
        max-width: 168%;
        right: -48px;
        top: 0;
      }
    }
    .title_block {
      left: 20px;
      top: 67px;

      .title_one {
        font-size: 3rem;
        letter-spacing: 0;
        margin-bottom: 0.1rem;
      }
      .title_two {
        font-size: 2rem;
      }
      .subtitle:first-child {
        font-size: 1.4rem;
        margin: 80px 0 10px 0;
      }
      .subtitle {
        font-size: 1.4rem;
        margin: 1.3rem 0;
      }
      .button {
        > a {
          width: 160px;
          height: 50px;
          font-size: 1rem;
          margin-top: 40px;
        }
      }
    }
    &::after {
      opacity: 100%;

      width: 100%;
      height: 15%;

      background: linear-gradient(0deg, rgba(2, 9, 28, 1) 0%, rgba(2, 9, 28, 0) 100%);
    }
  }
}
