@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu+Mono&display=swap');

// Fonts
$font-main: 'Manrope', sans-serif;
$font-second: 'Ubuntu Mono', sans-serif;

// Colors
$main-color: #d9d9d9;
$background: #02091c;
$accent-white: #ffffff;

// breakpoints
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
