@import './Screen_II-media';
@import '../../scss/base/extends.scss';
@import '../../scss/base/vars';

.Screen_II {
  @media (min-width: 1201px) {
    position: relative;

    .logos_block {
      margin: 150px 0;
      display: flex;
      justify-content: center;
      .logos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 1000px;

        > img {
          margin: 30px 30px;
        }
      }
    }
    .skills_block {
      position: relative;
      display: flex;
      justify-content: space-around;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        display: flex;
        width: 1px;
        height: 80%;
        background-color: $main-color;
      }
      

      .skills {
        display: flex;
        gap: 60px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {
            display: flex;
            gap: 10px;
          }
        }
      }
    }
    &::after {
      content: '';
      display: block;
      opacity: 20%;

      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translate(-50%, 0);

      width: 96%;
      height: 1px;
      background-color: $main-color;
    }
  }
}
