@import './base/reset';
@import './base/vars';
@import './base/extends';
@import './base/mixins';
@import './base/media_breakpoints';

html {
  scroll-behavior: smooth;
}
html {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  font-family: $font-main;
  background-color: $background;
  color: $main-color;
  font-size: 16px;
}

a {
  color: $main-color;
  transition: color 0.2s ease-in;

  &:hover {
    color: $accent-white;
  }
}

h1 {
  font-family: $font-main;
  @include font(1.75rem, 600);
}

h2 {
  font-family: $font-main;
  @include font(1.5rem, 400);
}

h3 {
  font-family: $font-second;
  @include font(1.25rem, 400);
}

input,
select,
p {
  @include font(1rem, 400);
}

span {
  @include font(0.875rem, 400);
}

font {
  @include font(0.625rem, 400);
  letter-spacing: 0.0625rem;
}
